.create-employee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        label {
            font-weight: bold;
        }
        input {
            max-width: 120px;
        }
    }
}